.bounce-convert-filter-options ul {
    margin-left: -35px;
    width: 170px;
    z-index: 9999;
    position: relative;
}
.bounce-convert-filter-options ul a {
    text-decoration: none;
}
.bounce-convert-filter-options ul li:hover {
    background: #009933;
    color: #fff!important;
    z-index: 999;
}
.bounce-convert-filter-options ul li {
    list-style: none;
    text-align: left;
    padding: 8px;
    background: lightblue;
    border-radius: 10px;
}

.bounce-convert-filter-title {
    float: left;
    padding: 15px 5px;
}
.bounce-convert-filter-options {
    border-left: 1px solid #FFFFFF;
    float: right;
    padding: 10px;
    position: relative;
    text-align: left;
    z-index: 2147483647;
}
.bounce-convert-filter-bar{
    height: 50px;
    background: lightblue;
    clear: both;
    border-radius: 10px 10px 0 0;
}
.bounce-convert-main-wrapper {
    height: 230px;
    text-align: center;
}
.bounce-convert-tab {
    float:left;
    width: 31%;
    height: 170px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
}
.bounce-convert-tab .conversion-digit{
    font-size: 75px;
}
.bounce-convert-tab .conversion-title{
    font-size: 25px;
}
.bounce-convert-conversion:hover{
    background:#009933;
}
.bounce-convert-conversion{
    background: #007000;
}
.bounce-convert-impression{
    background: #FFCC00;
}
.bounce-convert-impression:hover{
    background: #FFDD00;
}
.bounce-convert-percentage{
    background: #0066FF;
}

/* Bounce Conver Modal/Popup */


//Hide *(Steric) for required fields

.bounce-convert-custom-modal .modal-header{
    min-height: 0!important;
    padding: 0!important;
}

.bounce-convert-custom-modal .modal-content div.error {
    background: #fff;
    color: #ee504d;
    font-size: 40px;
    height: 130px;
    margin: -12px 0 0 255px;
    position: absolute;
    text-align: center;
    width: 300px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15) !important;
    -moz-box-shadow: 5px 5px 8px 0px rgba(255,255,255,0.46);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15) !important;
    box-sizing:border-box !important;
    font-family:Helvetica Nueue,Helvetica,Arial,Times,sans-serif !important;
    -webkit-transition : border 2000ms ease-out; 
    -moz-transition : border 2000ms ease-out;
    -o-transition : border 2000ms ease-out;
    border:1px solid #e0e0e0 !important;
    border-radius: 0 0 5px 5px;
    opacity: 0.85;
    padding: 20px 5px;
    /*-webkit-transition:0.8s all ease-in-out;*/
}

.bounce-convert-custom-modal .modal-content form{
    background: url("../images/modal-bg.png") repeat scroll -20px 30px #fff!important;
    height: 500px;
}

.bounce-convert-custom-modal .popups-confirmation-wrapper {
    /*background: url("../images/thank-you.png") repeat scroll 0 -55px #fff!important;*/
    background: url("../images/thank-you.png") repeat scroll -25px -55px #FFFFFF !important;
    width: 760px!important;
    /*height: 500px;*/
}

.bounce-convert-custom-modal .bounce-convert-success-message {
    color: #f2508a;
    font-size: 14px;
    padding-top: 295px;
    text-align: center;
    line-height: 20px;
}
.bounce-convert-custom-modal .bounce-convert-success-message a {
    color: #f2508a;
    text-decoration: underline;
}
.bounce-convert-custom-modal .bounce-convert-success-message a:hover {
    text-decoration: none;
}

.bounce-convert-custom-modal {
    /*background: url("../images/modal-bg.png") repeat scroll 0 0 #fff!important;*/
    border:10px solid #f2508a;
    text-align: center;
    border-radius: 0px!important;
}

.bounce-convert-custom-modal .popups-close {
    background: url("../images/close-button.png") no-repeat scroll 0px -2px rgba(0, 0, 0, 0) !important;
    height: 42px !important;
    margin-left: -13px;
    margin-top: -30px !important;
    position: absolute !important;
    width: 52px !important;
}

.modal-forms-modal-content .bounce-convert-custom-modal .popups-container {
    text-align: right!important;
}

div.modal-forms-modal-content .popups-container {
    text-align: right!important;
}

.bounce-convert-custom-modal input[type="submit"] { 
    position: relative;
    color: white;
    text-decoration: none;
    background: #f2508a!important;
    font-size: 24px;
    font-weight: bold;
    width: 280px;
    height: 56px;
    display: block;
    /*padding: 13px 0;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 6px #b0acad;
    -moz-box-shadow: 3px 3px 6px #b0acad;
    -o-box-shadow: 3px 3px 6px #b0acad;
    box-shadow: 3px 3px 6px #b0acad;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, Helvetica Nueue, Helvetica, Arial, Times, sans-serif;
    float: left;
    margin-top: -10px;
}

.bounce-convert-custom-modal .ajax-progress-throbber {
    margin: 5px 0 0 -10px;
    position: absolute;
}

.bounce-convert-custom-modal .modal-header {
    min-height:0!important;
    padding: 0!important;
}

.bounce-convert-custom-modal .ctools-use-modal-processed {
    margin-top: -50px;
    padding-top: 372px;
    padding-left: 12px;
}

.bounce-convert-custom-modal input[type="text"] {
    width: 399px!important;
    height: 38px!important;
    /*margin-top: 350px;*/
    margin-right: 13px;

    display: block;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    padding: 6px 15px;
    font-size: 18px;
    color: #333;
    font-weight: 100;
    border: 3px solid #ccc;
    float: left;
}


.bounce-convert-custom-modal .form-item label {
    display: none!important;
}